@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Francois+One&family=Knewave&family=Londrina+Outline&family=Monoton&family=Six+Caps&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/texture.jpg");
    /* background-color: rgb(128, 124, 124); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Francois One', sans-serif; 
    /* color: rgb(133, 130, 126); */
    color: rgb(128, 125, 122);
    
}
.intro{
    background-color: rgba(141, 145, 150, 0.747);
    /* opacity: 0.5; */
    /* background-image: url("images/texture.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
    /* font-family: 'Monoton', cursive; */
}

#catch-line {
    font-family: 'Francois One', sans-serif;
    /* text-align: left; */
    /* line-height: 60px; */
    /* padding: 10px; */
    margin-left: 230px; 
    margin-top: -30px;
}
#learn-more {
    font-family: 'Francois One', sans-serif;
    color: blanchedalmond;
    font-size: 0.8rem;
    /* text-align: left; */
    /* line-height: 60px; */
    padding: 30px;
    align-self: center; 
    margin-top: 60px;
    background-color: rgba(77, 70, 78, 0.164);
    border-radius: 50%;
    text-decoration: none;
    border: 0;
    /* border: 0;
    padding: 0; */
}

#button-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

.about-me {
    text-align: center;
    margin-top: 600px;
    /* margin-bottom: 200px; */
    background-image: url(images/katie-image-3.png);
    background-repeat: no-repeat;
    height: 600px;
    /* background-color: rgba(141, 145, 150, 0.747); */
}
.hello {
    font-weight: bold;
    font-size: 100px;
    line-height: 60px;
    text-align: left;
    text-shadow: 12px 5px rgba(33, 159, 197, 0.712);
    padding: 80px;
    margin-left: 60px;
    letter-spacing: 0.06em;
    /* text-transform: uppercase; */
    
}
.katie-image-1 {
    width: 50%;
    height: auto;
    display: flex;
    /* float: right; */
    margin-left: 550px;
}
/* .katie-image-2 {
    width: 10%;
    height: auto;
    display: flex;
    /* float: right; */
    /* margin-right: 600px;
} */ 

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Francois One', sans-serif; 
    text-shadow: 4px 3px rgba(33, 159, 197, 0.712);
    font-size: 50px;
}

h3 {
    margin-top: 50px;
}

.logo {
    font-family: 'Monoton', cursive;
    cursor: pointer;
    color: rgb(195, 43, 226);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    /* background-color:  #1A253F; */
    height: 90px;
}

/* .logo {
    width: 89px;
    height: auto;
    cursor: pointer;
} */
.nav-links {
    list-style: none;
    /* background-color:  #1A253F; */
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    /* background-color:  #1A253F; */
}
.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    /* color: rgb(133, 130, 126); */
    color: rgb(128, 125, 122);
    text-shadow: 3px 10px rgba(195, 43, 226, 0.719);
    /* background-color:  #1A253F; */
}
.nav-links li a:hover {
    color: rgb(195, 43, 226);
     font-style: italic;
}

.personal-links li a {
    text-decoration: none;
    color: rgb(128, 125, 122);
    padding: 50px;
    border-radius: 50%;
    background-color: rgba(250, 247, 243, 0.603);
}
.personal-links li {
    padding: 80px;
}
.logo-letter {
    text-decoration: none;
    color: rgb(195, 43, 226);
}

.table-container {
    height: 84px;
    background-color: rgba(227, 230, 235, 0.747);
}

.image-icon {
    height: 60px;
    margin-right: 50px;
    display: inline;
}

#contact-list {
    list-style: none;
    padding-top: 20px;
}

.table {
	display: table; 
    margin: 0 auto;
}